@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

body {
    margin: 0;
    font-family: Inter;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.errors {
    max-width: 326px;
    min-width: 326px;
    background-color: rgba(252, 165, 165, 0.685);
}

.signup-container,
.login-container {
    background: url(../assets/img/fon_blu_3.jpg);
    background-size: cover;
}

.form-work {
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.form-work .logo img {
    height: 100px;
    padding: 5px 0;
}

.session-form {
    margin-top: 15px;
}

.form-work .input-container {
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 1em;
    display: flex;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(113, 128, 147, 0.4);
}

.icon {
    background-color: black;
    padding: 5px;
}
.icon img {
    height: 20px;
    float: left;
    min-width: 20px;
}

.form-work .form-input {
    margin-left: 10px;
    width: 100%;
    display: inline-block;
    background: transparent;
    outline: 0;
    font-family: inherit;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
}

.form-work input::placeholder {
    color: rgb(255, 255, 255, 0.6);
}

.form-work input[name="name"] {
    border-right: 1.5px solid black;
}

.form-work input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.form-work input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.gender-container {
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 1em;
}

.gender-input {
    cursor: pointer;
    width: 100px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(113, 128, 147, 0.4);
    border: 1px solid black;

    transition: 0.3s;
}
.gender-input img {
    filter: grayscale(100%) brightness(200%);
}

input[type="radio"]:checked ~ .gender-input {
    background-color: black;
}

.gender-input:hover,
.gender-input:focus-within {
    background: black;
}

.form-work input[type="radio"]:checked + .gender-input {
    background: black;
}

.gender-input:hover img {
    filter: grayscale(100%) brightness(200%);
}

.form-work input[type="radio"]:checked + .gender-input img {
    filter: grayscale(100%) brightness(200%);
}

.gender-input img {
    height: 30px;
}

.submit {
    margin-top: 10px;
    background: #4b4ac0;
    border-radius: 5px;
    /* box-shadow: #4b4ac0 0 10px 20px -10px; */
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 6px 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;

    transition: 0.3s;
}

.submit:hover {
    background-color: #6e6df1;
    /* box-shadow: #6e6df1; */
}
