@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    margin: 0;
    font-family: Inter;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.form-work .logo img{
    height: 60px;
    padding: 5px 0;
    border-bottom: 2px solid #fff !important;
    border-top: 2px solid #fff !important;
}

.session-form{
    margin-top: 15px;
}

.form-work .input-container{
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 1em;
    display: flex;
    border: solid black;
    border-width: 1px;
    /* padding: 5px */
    border-radius: 5px;
    background-color: #fff;
}

.icon{
    background-color: black;
    padding: 5px;
}

.icon img{
    height: 20px;
    float: left;
    min-width: 20px;
}

.form-work .form-input{
    /* margin: 0 0 10px 0;
    padding: 0.8em 2em 10px 0; */
    margin-left: 10px;
    width: 100%;
    display: inline-block;
    background: transparent;
    /* border: 0;
    border-bottom: 1px solid black; */
    outline: 0;
    font-family: inherit;
    color: black;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-bottom 0.2s cubic-bezier(0.55, 0, 0.1, 1);

}

.form-work input[name='name']{
    border-right: 1.5px solid black;
}

.form-work input[type='date']::-webkit-calendar-picker-indicator{
    display: none;
}
