@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
    margin: 0;
    font-family: Poppins;
    font-size: 16px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url(./img/bodyBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .body {
    background: linear-gradient(300deg,#f84825,#663366,#ff431e);
    background-size: 180% 180%;
    animation: gradient-animation 27s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 450px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

.login {
    position: relative;
    float: left;
    width: 50%;
    height: 450px;
    padding: 0;

    background: rgb(1, 3, 42);
    background: linear-gradient(42deg, #333554 0%, #4c4e69 100%);
}

.form-work {
    width: 100%;
    margin: 60px auto 0;
}

.tabs {
    overflow: hidden;
}

.tabs * {
    transition: 0.25s ease-in-out;
}

.tabs h3 a {
    text-decoration: none;
    text-align: center;
    border: 0;
    display: block;
    padding: 0.5em 0;
    color: #e4e4e4;
    font-weight: 400;
}

.tabs h3 a.active {
    color: #fff;
}

.tabs h3 a.active:hover {
    color: #fff;
}

.tabs h3 a.active span {
    padding-bottom: 4px;
    border-bottom: 2px solid #b25068;
}

.form-work .tabs h3 {
    float: left;
    width: 50%;
}

.form-work .forms {
    padding: 0;
}

.form-work .forms #signup-tab {
    padding: 30px 40px;
    text-align: left;
    width: auto;
}

.form-work .forms #login-tab {
    padding: 48px 40px;
    text-align: left;
    width: auto;
}

.forms div[id$="tab"] {
    display: none;
}
.forms .active {
    display: block !important;
}

.form-work .forms div[id$="tab"] {
    text-align: left;
}

.form-work .forms .form-input {
    margin: 0 0 10px 0;
    padding: 0.8em 2em 10px 0;
    width: 100%;
    display: inline-block;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #deeeea;
    outline: 0;
    font-family: inherit;
    color: #fff;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-bottom 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-input:focus-visible {
    outline: none;
    border-bottom: 1px solid #b25068 !important;
}

.button-center {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    background-color: #1b1c2d;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    min-height: 34px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 10px 8px;
    margin-top: 20px;
    text-align: center;
    user-select: none;
    width: 40%;
    font-family: Poppins;
}

.submit:hover,
.submit:focus {
    opacity: 0.8;
}

.aside {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./img/asideBG.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 50%;
    height: 450px;
}

.aside-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.aside .logo-phrase .logo span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside .logo img {
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 8px 0;
    border-bottom: 2px solid #fff !important;
    border-top: 2px solid #fff !important;
}

.aside .logo p {
    margin-top: 35px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

/* Navbar provisional */
ul {
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}

a {
    color: #333554;
}