
*{
    margin: 0%;
    padding: 0%;
}


body{
    position: relative;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

body::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.05085784313725494) 20%, rgba(0,0,0,1) 91%);
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -5;
}


/* Barra de navegación */
ul li a{
    display: flex;
    align-items: center;
}

li a i{
    margin-right: 15px;
    margin-top: 5px;
    font-size: 18px;
}

.this{
    padding: 3px 25px;
    background-color: #FD6F96;
    border-radius: 9999px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    transition: 0.5s ease-in-out;
}
.this:hover{
    transform: translateY(-5px);
}

