*{
    margin: 0%;
    padding: 0%;
}


body{
    position: relative;
    width: 100%;
    scrollbar-width: none;
}

/*body::after{
    content: "";
    
}*/

body::before{
    content: "";
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgba(0,0,0,0.05085784313725494) 20%, rgba(0,0,0,1) 80%);
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -5;
}

/*Fondo de pantalla*/

.background{
    width: 100%;
    height: 100vh;
    background-image: url(../images/fondo_1.jpg);
    backdrop-filter: blur(6px);
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -6;
}




/* Barra de navegación */
header ul li a{
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

header li a i{
    margin-right: 15px;
    margin-top: 4px;
    font-size: 18px;
}

header .this{
    padding: 5px 25px;
    background-color: #FF5677;
    border-radius: 9999px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    transition: 0.5s ease-in-out;
}
header .this:hover{
    transform: translateY(-5px);
}


header .class-active{
    color: white;
}

header ul li a:hover{
    color: white;
}

/*-------  -------  ----- Profile ---------  ------  ----*/
.profile{
    padding: 0px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    height: 64px;
}

/*.profile:hover{
    background-color: rgba(0, 0, 0, 0.233) ;
}*/


header .contenido-menu{
    width: 260px;
    border-radius: 12px;
    padding: 10px 20px;
    
    background-color: rgba(0, 0, 0, 0.319);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(8px);
    
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transition: all 0.5s ease-in-out;

    position: absolute;
    top: 90%;
    right: 35%;

    display: none;
}

header .contenido-menu.active{
    display: block;
    transition: all 0.5s ease-in-out;
}

header .options li{
    margin-top: 7px;
    margin: 7px 10px;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.863);
}

header .Logout{
    margin: 20px 0px;
}


/*
.options,
.perfil{
    display: none;
}

.options.active,
.perfil.active{
    display: dsiplay;
}
*/
@keyframes bottom {
    0% {
     transform: translateY(-50px);
     opacity: 0;
    }
   
    100% {
     opacity: 1;
     transform: none;
    }
   }

header .anim {
    animation: bottom 0.8s 0s both;
}

@keyframes bottom2 {
    0% {
     transform: translateY(100px);
     opacity: 0;
    }
   
    100% {
     opacity: 1;
     transform: none;
    }
   }

header .anim2 {
    animation: bottom2 0.8s 0s both;
}

/*--- ---- ---- ----- ---- ---- Sticky header ---- ---- ---- ---- */
header{
    position: fixed;
    left: 0%;
    top: 0%;
    transition: 0.5s ease-in-out all;
    z-index: 50;
}

header.sticky{
    /*background-color: rgb(43, 43, 43);*/
    background-color: #282828ec;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.555);
    color: white;

}



/*-------  -------  ----- Reproductor ---------  ------  ----*/

.reproductor{
    position: absolute;
}

/*---  ----------- ----- Menu  -------- -------- --------- ---- */

.box-header{
    position: relative;
}
.menu{
    width: 200px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.349);

    position: absolute;
    right: 60px;
    top: 80px;
    z-index: 5;

    transition: all 0.5s ease-in-out;

    display: none;

}

/*--- ---- ----- Reproductor ---- ----- -----*/

.overway{
    position: fixed;
    background-color: rgb(48, 48, 48);
    width: 425px;
    height: 110px;
    bottom: 40px;
    right: 100px;
    border-radius: 20px;
}

/*-------  -------  ----- Querys ---------  ------  ----*/

@media screen and (max-width: 921px) {
    
    li a i{
        margin-right: 0px;
        font-size: 20px;
        margin-top: 2px;
    }
}