* {
    margin: 0%;
    padding: 0%;
}

:root{
    /*Paleta de colores Apollos*/

    --morado-apl: #262455;
    --fucsia-apl: #700353;
    --rosado-apl: #ff0054;
    --naranja-apl: #ff5c0a;
    --amarillo-apl: #ffce47;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    scrollbar-width: none;
    background-color: rgb(12, 12, 12);
    --bg-pseudo     : linear-gradient(180deg,rgba(255, 255, 255, 0) 10%,rgba(12, 12, 12, 0.3) 60%,rgba(12, 12, 12, 1) 90%); /* Variable que almacena el color de fondo del pseudoelemento */
    --bg-new        : linear-gradient( 180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 12, 12, 0.5) 25%, rgba(12, 12, 12, 0.95) 80%, rgba(12,12,12,1) 90% );
}

/*body::after{
    content: "";
    
}*/

body::before {
    content: "";
    width: 100%;
    height: 101%;
    background: rgb(255, 255, 255);
    background: var(--bg-new);
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -5;
}

.lib{
    height: 75vh;
}


/*Fondo de pantalla*/

.background {
    width: 100%;
    height: 100vh;
    background-image: url(../images/fondo_1.jpg);
    backdrop-filter: blur(6px);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -6;
}

.muralArtist {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -7;
}
.muralArtist img {
    width: 100%;
}



.muralArtist::after {
    content: "";
    width: 100%;
    height: calc(100% + 10px);
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 10%,
        rgba(12, 12, 12, 0.05085784313725494) 40%,
        rgba(12, 12, 12, 1) 99%
    );
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 0;
}

/* ---- Cover black ----*/

.black-cover {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: -1;
}

/* Barra de navegación */
header ul li {
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    color: rgb(196, 196, 196);
}

header li a i {
    margin-right: 15px;
    margin-top: 7px;
    font-size: 18px;
}

header ul .this {
    color: white;
    padding: 7px 25px;
    background-color: #ff5677;
    border-radius: 9999px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    transition: 0.5s ease-in-out;
}
header .this:hover {
    transform: translateY(-5px);
}

header .class-active {
    color: white;
}

header ul li:hover {
    color: white;
}

/*-------  -------  ----- Profile ---------  ------  ----*/
.profile {
    padding: 0px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    height: 64px;
}

/*.profile:hover{
    background-color: rgba(0, 0, 0, 0.233) ;
}*/

header .contenido-menu {
    width: 260px;
    border-radius: 12px;
    padding: 10px 20px;

    background: rgba(20, 20, 20, 0.479);

    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(8px);

    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transition: all 0.5s ease-in-out;

    position: absolute;
    top: 90%;
    right: 35%;
    z-index: 10;

    display: none;
}

header .contenido-menu.active {
    display: block;
    transition: all 0.5s ease-in-out;
}

header .options li {
    margin-top: 7px;
    margin: 7px 10px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
}
header .options li:hover{
    opacity: 0.9;
}
header .Logout {
    margin: 20px 0px;
}

/*
.options,
.perfil{
    display: none;
}

.options.active,
.perfil.active{
    display: dsiplay;
}
*/
@keyframes bottom {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim {
    animation: bottom 0.8s 0s both;
}

@keyframes bottom2 {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim2 {
    animation: bottom2 0.8s 0s both;
}

/*--- ---- ---- ----- ---- ---- Sticky header ---- ---- ---- ---- */
header {
    /* position: fixed; */
    left: 0%;
    top: 0%;
    transition: 0.5s ease-in-out all;
    z-index: 50;
}

header.sticky {
    /*background-color: rgb(43, 43, 43);*/
    padding: 0rem;
    background-color: #0a0a0aec;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.555);
    color: white;
    position: sticky;
    backdrop-filter: blur(5px);
}

.box-header.sticky2 {
    height: 5rem;
}

/*-------  -------  ----- Reproductor ---------  ------  ----*/

.reproductor {
    position: absolute;
}

/*------ -------  ------ Buscador ------ -------- -------  */

.overway_2 {
    background-color: rgba(29, 29, 29, 0.4);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    z-index: 500;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;

    transition: 0.6s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.overway_2.active {
    opacity: 1;
    visibility: visible;
}

.buscador {
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    width: 40%;
    max-height: 600px;
    margin-top: 100px;
    padding: 30px;
    padding-bottom: 50px;
    transition: all 0.5s ease;
    transform: scale(0.7);
    opacity: 0;
}

.buscador .btn-close {
    font-size: 16px;
    display: block;
    text-align: right;
    color: rgba(255, 255, 255, 0.377);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.buscador .btn-close:hover {
    color: rgba(255, 255, 255, 0.863);
}

.buscador form .contenedor-input {
    background-color: rgb(41, 40, 40);
    padding: 15px;
    margin: 7px;
    border-radius: 7px;
    display: flex;
}

.buscador form .contenedor-input input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.buscador .resultados {
    width: 100%;
    margin: 25px 10px;
}

/*---- ------  Animaciones Buscador ---- ------ -----*/

.buscador.active {
    opacity: 1;
    transform: scale(1);
}

/*---  ----------- ----- Menu  -------- -------- --------- ---- */

.box-header {
    position: relative;
}

.menu {
    width: 200px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.349);

    position: absolute;
    right: 60px;
    top: 80px;
    z-index: 5;

    transition: all 0.5s ease-in-out;

    display: none;
}

/*--- ---- ----- ---- ----- ----- Reproductor */


footer{
    position: sticky;
    display: flex;
    justify-content: flex-end;
    right: 0%;
    bottom: 20px;
    width: 100%;
    height: 110px;
}

.player {
    height: 110px;
    width: 25%;
    min-width: 490px;
    border: 1px solid rgba(167, 165, 165, 0.3);
    border-radius: 15px;
    margin-right: 40px;
    
    background-color: #131313;
    color: #fdfdfd;

    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    display: flex;
    justify-content: space-around;
    position: relative;

    transition: 0.5s all ease-in-out;
}


/*Boton*/

.player button{
    position: absolute;
    z-index: 10;
    top: 49px;
    left: 10px;
    opacity: 0.2;
    font-size: 12px;
    transition: 0.2s all ease;
}

.player button:hover{
    opacity: 0.6;
}

.player.activer .show-list-btn{
    display: none;
}

.player.player.activer .hidde-list-btn{
    display: block;
}

.player.activer{
    min-width: none;
    width: 95%;
    background-color: #131313;
    color: #f1f1f1;
    margin: 0px auto;
    
}

.player.activer .line-time-song{
    display: flex;
    width: 43.666%;
}

.player.activer .info-cancion{
    width: 17.666%;
}
.player.activer .controles{
    width: 22.6666%;
}
.player.activer .controles .controladores{
    width: 35%;
    justify-content: space-between;
    min-width: 112px;
}

.player.activer .cancion{
    width: 15%;
}

.player.activer .white-circule{
    left: 46%;
    top: 43%;
}


/*---- Foto de la canción ------*/

.player .cancion{
    height: 100%;
    width: 22.68%;
    padding: 15px;
    margin-left: 10px;
    position: relative;
}
.player .cancion img{
    height: 100%;
    border-radius: 100%;
    margin: 0% auto;
}

.player .cancion img.rotar{
    animation: rotar 6s linear infinite;
}

.white-circule{
    position: absolute;
    left: 41.3697%;
    top: 42.5694%;
    width: 18px;
    height: 18px;
    background-color: #fdfdfd;
    border-radius: 100%;
    z-index: 10;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





/*------- Infomración de la canción ------*/


.player .info-cancion{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*----- ----- Linea de Tiempo ---------*/

.line-time-song{
    height: 100%;
    display: none;
    padding: 50px 20px;
}


.player.activer .line-time-song{
    display: flex;
    flex-direction: column;
}
.line-time-song .line-time{
    width: 95%;
    height: 2px;
    background-color: #ff00555d;
}

.line-time-song .line-progress{
    width: 25%;
    height: 2px;
    background-color: var(--rosado-apl);
}



/*----- Controles del reproductor ------*/

.player .controles{
    width: 35%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

.player .controles .controladores{
    display: flex;
    align-items: center;
}
.player .controles i{
    
    cursor: pointer;
}

.rombo{
    width: 40px; 
    height: 40px; 
    background: rgb(116, 41, 236);
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    transform: rotate(45deg);
}
.rombo i{
    transform: rotate(-45deg);
}



/*------------------------------- Lista de Reproducción ..*/


.lista-reproduccion{
    width: 22%;
    min-width: 480px;
    height: 0vh;
    padding: 15px;
    background-color: #000000ea;
    border-radius: 15px;
    backdrop-filter: blur(6px);

    position: absolute;
    bottom: 105px;
    right: 45px;

    transition: 0.4s all ease;

}

.lista-reproduccion.active{
    height: 75vh;
}


.lista-reproduccion.largo{
    width: 92%;
    right: 4%;
}


/*------ Espacio del contendio de las listas de reproducción -------*/
.space-content{
    width: 100%;
    display: none;
    flex-direction: column;
}

.space-content.active{
    display: flex;
}


.song-playing{
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.song-playing img{
    margin: 0px auto;
    min-height: 430px;
    border-radius: 10px;
}

/*----- Lista de Reproducción -------*/

.songs-list-then{
    margin-top: 15px;
    width: 100%;
    padding: 15px;
}


.songs-list-r {
    color: white;
    overflow: hidden;
    max-height: 250px;

    overflow-y: auto;
}

.title-table{
    margin: 15px auto;
}

.fila-hight-r {
    width: 100%;
    height: 42px;
    min-height: 38px;
    max-height: 50px;
    padding: 5px;
    transition: 0.1s ease-in-out;

}



.fila-hight-r .num-song {
    width: 70px;
    text-align: center;
}

.fila-hight-r .picture-song {
    width: 12%;
    box-sizing: border-box;
    padding: 5px;
}

.fila-hight-r .name-song {
    padding-left: 10px;
    width: calc(100% - (70px + 25% + 125px + 12%));
}
.fila-hight-r .artists-song {
    width: 25%;
}

.fila-hight-r .dur-song {
    width: 125px;
    text-align: center;
    font-size: 14px;
}



/* Canciones lista */


.fila-content-l {
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px auto;
    transition: 0.1s ease-in-out;
}
.fila-content-l:hover {
    background-color: rgba(255, 255, 255, 0.158);
}


.fila-content-l div {
    cursor: default;
}

.fila-content-l .num-song {
    width: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.fila-content-l .picture-song {
    width: 12%;
    box-sizing: border-box;
    padding: 5px;
}

.fila-content-l .name-song {
    display: flex;
    padding-left: 20px;
    width: calc(100% - (70px + 35% + 125px + 12%));
    min-width: 300px;
    opacity: 0.8;
}

.fila-content-l .name-song span {
    display: block;
}
.fila-content-l .name-song i {
    opacity: 0;
    margin-top: 2px;
    transition: 0.2s ease;
    margin-left: 20px;
}

.fila-content-l i {
    opacity: 1;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
}

.fila-content-l .name-song i:hover {
    color: white;
}

.fila-content-l .name-song .fi {
    text-align: left;
}

.fila-content-l .artists-song {
    width: 35%;
}

.fila-content-l .dur-song {
    width: 125px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}


/*-------  -------  ----- Querys ---------  ------  ----*/

@media screen and (max-width: 921px) {
    header li a i {
        margin-right: 0px;
        font-size: 20px;
        margin-top: 2px;
    }
}

@media screen and (min-width: 1078px) {
    
    .space-content{
        flex-direction: row;
    }

    .song-playing,
    .songs-list-then{
        width: 50%;
    }

    .song-playing img{
        width: 60%;
        min-height: fit-content;
    }

    .song-playing,
    .space-content{
        height: 100%;
    }

    .songs-list-then{
        padding: 60px 25px;
        padding-bottom: 25px;
    }

    .songs-list-r{
        max-height: 700px;
    }
    
}

